body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 94%;
    margin: auto;
    padding-top: 10px;
}

#header {
    text-align: center;
    border-bottom: 3px solid #1DB954;
    padding-bottom: 10px;
}

#productImage {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.section-title {
    margin-top: 18px;
    padding: 6px;
    background: #FFC700;
    border-left: 5px solid #1DB954;
}

label {
    margin-top: 12px;
    display: block;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #1DB954;
    font-size: 16px;
}

#orderBtn {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    background: #FF3B30;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
